.font1{
  font-family: "Google Sans Code", monospace;
}
.font2{
  font-family: "Montserrat", sans-serif;;
}
.font3{
  font-family: "Libre Bodoni", serif;
}
.font4{
  font-family: "Merriweather", serif;
}
.font5{
  font-family: "Roboto", sans-serif;
}
.font6{
  font-family: "Poppins", sans-serif;
}
.boxShadow{
  box-shadow: -3px -13px 82px 0px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: -3px -13px 82px 0px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: -3px -13px 82px 0px rgba(0,0,0,0.75) inset;
} 